cloud_id = "fhdsfhfkfdkfjsdkfhdk"
folder_id = "dfhskfjkfsjdfljwoiow"
zone = "ru-central1-a"
image_id = "djfkjdsfjsdfkljlsdjl"
public_key_path = "~/key.pub"
subnet_id = "dsfhdkfhskdfhskfhksd"
service_account_key_file = "~/key.json"
privat_key_path = "~/key"
pass_clickhouse = "qwerqwer123"
