cloud_id = "dfgdkfghfdfjgjdfl"
folder_id = "fghdfkghdfkghdas"
zone = "ru-central1-b"
public_key_path = "/home/user/.ssh/key.pub"
service_account_key_file = "/home/user/.ssh/key1.json"
subnet_id = "fjsdfldfjsldfjlsf"
service_account_id       = "ewirewiriweropwer"
node_service_account_id  = "ewirewiriweropwer"
network_id               = "skdffsdflrrrtert"